{% extends 'base.html' %}

{% block contents %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">ニュース速報</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">ログアウト</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'password_reset' %}">パスワードリセット</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'news:post' %}">投稿する</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">新規登録</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'news:post' %}">投稿する</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">トップページ</a></li>
                        {% else %}
                        <!--ログイン中のメニュー-->
                        
                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">ニュースサイトトップ一覧ページ</h1>
                    <p class="lead mb-0">News Site SystemNews Site SystemNews Site SystemNews Site System</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->

                            {% for record in object_list %}
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="{{record.image1.url}}" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2023</div>
                                    <h2 class="card-title h4">{{record.title}}</h2>
                                    <p class="card-text">{{record.main_centence}}</p>
                                    <a class="btn btn-primary" href="#!">続きを読む →</a>
                                </div>
                            </div>
                            
                            {% endfor %}
                            <!-- Blog post-->
                        </div>
                    </div>
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">検索</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="ニュースを検索" aria-label="ニュースを検索" aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">カテゴリー</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'news:weather' %}">天気</a></li>
                                        <li><a href="{% url 'news:sports' %}">スポーツ</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'news:politics'%}">政治</a></li>
                                        <li><a href="{% url 'news:business' %}">ビジネス</a></li>
                                        <li><a href="{% url 'news:living' %}">暮らし</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}